html, body {
  margin: 0;
  padding: 0;
  background-color: #7aa3c4;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
}

#mapa-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #7aa3c4 url('mapa.jpg') no-repeat center center;
  background-size: contain;
}



.punto {
  position: absolute;
  display: inline-block;
  background: white;
  letter-spacing: 2px;
  padding: 4px 8px;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: black;
}

.punto.respondido {
  animation: aciertoBounce 0.4s ease;
}

.punto.fallido {
  background: white;
  color: red;
}

.input-wrapper {
  display: inline-flex;
  gap: 1px;
  white-space: nowrap;
  border-radius: 6px;
}

.input-wrapper input {
  width: 1em;
  height: 1.4em;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
  color: black;
  padding: 0;
  margin: 0;
}

.input-wrapper input.fixed {
  background: transparent;
  color: black;
  cursor: default;
}

.input-wrapper input.editable {
  background: transparent;
}

.mensaje-error {
  font-size: 0.8em;
  color: red;
  font-weight: bold;
}

@keyframes aciertoBounce {
  0%   { transform: translate(-50%, -50%) scale(1); }
  50%  { transform: translate(-50%, -50%) scale(1.1); }
  100% { transform: translate(-50%, -50%) scale(1); }
}


@media (max-aspect-ratio: 9/16), (orientation: portrait) {
  #mapa-container {
    background: #7aa3c4 url('mapa-movil.jpg') no-repeat center center;
    background-size: contain;
  }
}


/* Mostrar solo los puntos correspondientes al dispositivo */
.puntos-desktop {
  display: block;
}
.puntos-mobile {
  display: none;
}

@media (max-width: 768px) {
  .puntos-desktop {
    display: none;
  }
  .puntos-mobile {
    display: block;
  }
}

@media (min-width: 769px) {
  html, body {
    margin: 0;
    padding: 0;
    background-color: #7aa3c4;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #escala-wrapper {
    width: 1920px;
    height: 1080px;
    transform-origin: top left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(var(--escala)) translate(-50%, -50%);
  }

  #mapa-container {
    width: 100%;
    height: 100%;
    background: #7aa3c4 url('mapa.jpg') no-repeat center center;
    background-size: 100% 100%;
    position: relative;
  }
}


