 @font-face {
   font-family: 'MyUglyHandwriting-Regular';
   src: url('../fonts/MyUglyHandwriting-Regular.woff') format('woff');
 }
  @font-face {
   font-family: 'KGMidnightMemories';
   src: url('../fonts/KGMidnightMemories.woff') format('woff');
 }
   @font-face {
   font-family: 'CreatoDisplay-Regular';
   src: url('../fonts/CreatoDisplay-Regular.woff') format('woff');
 }
   @font-face {
   font-family: 'CreatoDisplay-Bold';
   src: url('../fonts/CreatoDisplay-Bold.woff') format('woff');
 }